#viewport{
  background-color:white;
  width:100%;
  min-width:200px;
  height:600px;
  position:absolute;
  top:0;
  left:0;
}

.centerdiv{
  width:50%;
  min-width:200px;
  height:400px;
  position:relative;
  background-color:azure;
  margin-left:400px;
  margin-top:6  0px;
  display:block;
}
.topbox{
width:100%;
min-width:200px;
height:70px;
margin:0;
margin-left:0;
background-color:white;
}
.word1{
  color:black;
  font-size:15px;
  font-family:underline;
  position:absolute;
  display:inline-block;
  right:200px;
  margin-top:30px;
}
.word2{
  color:black;
  font-size:15px;
  font-family:underline;
  position:absolute;
  display:inline-block;
  right:130px;
  margin-top:30px;
}
#b-top{
  display: inline-block;
position: absolute;
color: white;
background-color: #3F51B5;
width: 70px;
height: 30px;
padding-left: 1px;
right: 53px;
margin-top: 23px;

}
.letter1{
  font-size:90px;
  font-family:arial;
  color:blue;
  margin-left:30px;
  margin-top:103px;
  left:170px;
  position:absolute;
  display: inline;
}
.letter2{
    font-size: 90px;
    font-family:arial;
    color: red;
    margin-top: 103px;
    position: absolute;
    display: inline;
    left:265px;
}
.letter3{
  font-size: 90px;
  font-family:arial;
  color:yellow;
  margin-top: 104px;
  position: absolute;
  display: inline;
  left:312px;
}
.letter4{
  font-size: 90px;
  font-family:arial;
  color:blue;
  margin-top: 104px;
  position: absolute;
  display: inline;
  left:361px;
}
.letter5{
  font-size: 90px;
  font-family:arial;
  color:green;
  margin-top: 104px;
  position: absolute;
  display: inline;
  left:405px;
  }
  .letter6{
    font-size: 90px;
    font-family:arial;
    color:red;
    margin-top: 104px;
    position: absolute;
    display: inline;
    left:420px;
  }
  .box{
    position:absolute;
    margin-top:210px;
    min-width:200px;
    left:80px;
    display:block;
  }
#sbox{
  width:500px;
  min-width:200px;
  height:40px;
}
#b1{
  height:40px;
  position:absolute;
  display:inline;
  margin-top:20px;
  min-width:120px;
  left:120px;
  font-family:arial;
  font-size:15px;
  color:black;
  background-color:silver;
}
#b2{
  height:40px;
  position:absolute;
  display:inline;
  margin-top:20px;
  left:240px;
  font-family:arial;
  font-size:15px;
  color:black;
  background-color:silver;
}
.links{
  width:100%;
  height:30px;
  background-color:;
  position:absolute;
  display:block;
  margin-top:350px;
}
.con-1{
  position:absolute;
  display:inline;
  left:77px;
  min-width:200px;
  color:#370340;
}
#fb{
display:inline;
position:absolute;
margin-left: 240px;
margin-top: 2px;
color:blue;
}
#google{
  display:inline;
  position:absolute;
  margin-left: 265px;
  margin-top: 2px;
  color:blue;
}
#youtube{
  display:inline;
  position:absolute;
  margin-left: 320px;
  margin-top: 2px;
  color:red;
}
.bottombox{
  background-color:rgba(158, 158, 158, 0.19);
  width:100%;
  min-width:200px;
  height:50px;
  margin-top:145px;
}

.bword1{
  position:absolute;
  color:black;
  font-family:arial,sans-serif;
  font-size:15px;
  margin-top:10px;
  margin-left:20px;
  display:inline;
}
.bword2{
  position:absolute;
  color:black;
  font-family:arial;
  font-size:15px;
  margin-top:10px;
  margin-left:115px;
  display:inline;
}
.bword3{
  position:absolute;
  color:black;
  font-family:arial;
  font-size:15px;
  margin-top:10px;
 margin-left:200px;
 display:inline;
}
.bword4{
  position:absolute;
  color:black;
  font-family:arial;
  font-size:15px;
  margin-top:10px;
  right:160px;
  display:inline;
}

.bword5{
  position:absolute;
  color:black;
  font-family:arial;
  font-size:15px;
  margin-top:10px;
  right:100px;
  display:inline;
}
.bword6{
  position:absolute;
  color:black;
  font-family:arial;
  font-size:15px;
  margin-top:10px;
  right:20px;
  display:inline;
}
